{% extends "base.html" %}

{% block title %}teachers{% endblock title %}
{% block content %}
<div class="teachers-div">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for i in teachers %}
        <div class="col">
        <div class="card h-100">
            <img src="{{i.teacher_image.url}}" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">{{i.teacher_name}}</h5>
            <p class="card-text">{{i.name}}</p>
            </div>
        </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}